/******************/
/* Grafisk profil */
/******************/
$font-stack:	Arial, sans-serif;

/* Färger */
$color-love:		#b20f0a;
$color-love-light:	#e32424;
$color-love-more-light: #ffbaba;
$color-love-very-light: #ffdede;
$color-love-dark:	#6f0909;

$color-forrest:	#006935;

$color-sun:		#fcc24f;
$color-sun-light:	#FEEFB3;
$color-sun-dark:	#9F6000;

$color-water:	#005187;
$color-water-light:	#d1edff;
$color-water-dark:	#00416a;

/* Övriga färger */
$color-bg-dark:			#E9F0F4;
$color-bg-dark-grey:	#3c3c3c;
$color-bg-light: 		#EEF6F8;

$color-border-dark:		#828f95;

$color-txt-light:		#FFF;
$color-txt-dark:		#000;