.arena-sessionVariables {
	display: none;
}

.eBook {
	.arena-summaryLoans {
		display: none;
	}

	.arena-availability {
		display: none;
	}

	.arena-detail-emedia {
		background-color: #f2f2f2;
		border: 0.0625em solid grey;
		box-shadow: 0.25em 0.25em 0.25em #888;
		margin: 1em 0 1em 0;
		padding: 0.25em;
	}
}

.dvd {
	.btnPlay {
		position: absolute;
		top: 18em;
	}
}
